body{
	text-align: center;
	color: #000f08;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body *{
	margin: 0;
	border: 0;
	padding: 0;
}

h1{
	font-weight: 800;
	font-size: 3.75em;
	margin-bottom: 0.25em;
}

h2{
	font-weight: 700;
	font-size: 2.5em;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.75em;
}

h5{
	font-size: 1.25em;
}

#ubicacion h2{
	margin: 1em auto;
}

.sweet-brown h3, .sweet-brown h5{
	margin-bottom: 0.5em;/*ejemplo em condicionado por elemento padre*/
}

#eventos h2{
	margin-bottom: 1em;
}

#eventos h3{
	margin: 1em auto;
}

.subtitulo, h4, h5{
	font-weight: 400;
}

.oscuro{
	background: #000f08;
	color: #ffffff;
}

.oscuro a{
	color: #ffffff;
	text-decoration: none;
}

.sweet-brown{
	text-align: left;
	background: #a4452c;
	color: #ffffff;
	padding: 50px;
	white-space: nowrap;
}

.hero-section{
	text-align: right;
	background-image: url("../img/bg-hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	text-shadow: 0.125em 0.25em 0.125em #707070;
	padding: 6.25rem 3.125rem;
}

section, footer{
	margin-top: 75px;
}

footer{
	padding: 50px;
}

.charla-texto, .evento{
	display: inline-block;
}

.centrado{
	width: 75%;
	margin: 0 auto;
}

.charla-speaker{
	width: 25%;
	vertical-align: middle;
}

.charla-texto{
	width: 70%;
	vertical-align: middle;
	margin-left: 5%;
	white-space: normal;
}

.evento{
	width: 30%;
	height: auto;
}

.evento img{
	width: 75%;
	height: auto;
}


.evento a{
	color: #000f08;
	text-decoration: none;
}

.evento a:hover{
	text-decoration: underline;
}

nav{
	width: 100vw;
	text-align: left;
	padding: 1.25rem 4rem;
	position: fixed;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin: 0 1em;
	vertical-align: middle;
}

.icono{
	width: 2rem;
}

.icono svg{
	fill:#ffffff;
}

footer i{
	margin: 0 0.25em 0.5em 0.25em;
}

#content-interior{
	width: 60vw;
	height: auto;
	margin: 0 auto;
	padding: 6.25rem 0 3rem 0;
	text-align:left;
}

#content-interior h2{
	padding: 2rem 0;
}

#content-interior img{
	width: 60vw;
	height: auto;
	padding: 2rem 0;
}

#content-interior h3{
	padding: 2rem 0;
}

#content-interior p{
	padding: 0 0 2em 0;
}
